.photo-grid {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 200px;
  }
  
  .photo-item {
    width: 300px; 
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .photo-item img {
    width: 100%;
    height: auto;
  }
  